is_global = true

; [*.cs]

dotnet_diagnostic.IDE0090.severity = none
dotnet_diagnostic.CA1024.severity = none
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1623.severity = none
dotnet_diagnostic.SA1623.severity = none
dotnet_diagnostic.CA1303.severity = none